.header{
    padding: 40px;
    text-align: center;
    background: #3a3a3a;
    color: white;
    font-size: 30px;
}

body {
    background-color: #3a3a3a;
    color: #f5f7f2;
}

.card-container {
    width: 18rem;
    background-color: #3a3a3a; 
    color: #f5f7f2; 
    margin-bottom: 20px; 
}
